form{
    max-width: 60vw;
    margin: 20px auto 0 auto;
}
mat-card{
    padding: 20px;
}

input{
    width: 100%;
}

mat-form-field, mat-select{
    width: 100%;
}

mat-card-title{
    font-size: larger;
}

section#tastingRating {
    display: flex;
}

 mat-slider{
    display: block;
}